* {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game1 {
    padding: 100px;
}