#gameContainer {
    text-align: center;
}

#scoreText {
    font-family: system-ui;
    font-size: 50px;
}

#resetBtn {
    padding: 10px 20px;
    background: #d9d9d9;
    border: none;
	border-radius: 20px;
	box-shadow: -3px -3px 9px #ffffff83, 3px 3px 7px rgba(94,104,121,0.688);
    cursor: pointer;
    font-size: 20px;
}

#fruit {
    display: none;
}