#gameContainer {
    text-align: center;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-family: system-ui;
    font-size: 50px;
}

#resetBtn {
    font-family: system-ui;
    font-size: 22px;
    padding: 5px 40px;
    border: none;
    border-radius: 15px;
    background-color: aqua;
    cursor: pointer;
}

#fruit {
    display: none;
}